@charset "UTF-8";
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

ol, ul {
  margin: 0;
  padding-left: 2em;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea {
  max-width: 100%;
}

.page-title, .section-title, .typography--BLOCK-HEADING, .file-download--image .linked-image {
  position: relative;
}

.page-title:before, .section-title:before, .typography--BLOCK-HEADING:before, .page-title:after, .file-download--image .linked-image:before, .file-download--image .linked-image:after {
  position: absolute;
}

code {
  font-family: "Source Code Pro", monospace;
}

.tagline .amp {
  font-family: "Archer SSm A", "Archer SSm B", serif;
}

blockquote:before, .font-secondary {
  font-family: "Archer SSm A", "Archer SSm B", serif;
  font-weight: 500;
}

[role="navigation"], .font-secondary-smallcaps {
  font-family: "Archer SSm small caps A", "Archer SSm small caps B", serif;
  font-weight: 500;
}

.tagline, .font-smallcaps {
  font-size: 14px;
  font-family: "Whitney SSm small caps A", "Whitney SSm small caps B", sans-serif;
  line-height: 1.1;
}

strong, b {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote .quote {
  -moz-column-width: 18em;
  -webkit-column-width: 18em;
  column-width: 18em;
}

html {
  font-size: 1em;
  line-height: 1.625;
  overflow-x: hidden;
}

body {
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  color: #1f1f1f;
  background: #fafcfd;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-feature-settings: "liga","dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga","dlig";
  -ms-font-feature-settings: "liga","dlig";
  -o-font-feature-settings: "liga","dlig";
  font-feature-settings: "liga","dlig";
}

body {
  border: 0.25em solid #f08c49;
  padding: 0 0.25em;
}
@media (min-width: 48.75em) {
  body {
    border-width: 0.75em;
  }
}

.site-header, .fluid-media, .media-youtube-video, .file-downloads--client, .media-placements {
  margin-left: -0.25em;
  margin-right: -0.25em;
}
@media (min-width: 48.75em) {
  .site-header, .fluid-media, .media-youtube-video, .file-downloads--client, .media-placements {
    border-left-width: 0.75em;
    border-right-width: 0.75em;
  }
}

body[data-menu-position='open'] {
  border-left: none;
}

p {
  margin-bottom: 1.625em;
}

.intro p {
  font-size: 1.16016em;
  line-height: 1.75084;
  margin-bottom: 2.03125em;
}

.base--STYLED h1, .page-title, .base--STYLED h2, .base--STYLED h3, .field-subtitle, .section-title, .typography--BLOCK-HEADING, .social-media .section-title, .press-releases h3, .media-contact h3, .base--STYLED h4, .base--STYLED h5, .base--STYLED h6, .site-name, .bird-feed article > h1, blockquote h1, .placement .name {
  font-family: "Archer SSm A", "Archer SSm B", serif;
  font-weight: normal;
}

.base--STYLED h1, .page-title {
  font-size: 1.77778em;
  line-height: 1.37109;
  margin-bottom: 0.91406em;
}
@media (max-width: 31.25em) {
  .base--STYLED h1, .page-title {
    font-size: 1.54688em;
    line-height: 1.57576;
    margin-bottom: 1.05051em;
  }
}

.base--STYLED h2 {
  font-size: 1.54688em;
  line-height: 1.57576;
  margin-bottom: 1.05051em;
}
@media (max-width: 31.25em) {
  .base--STYLED h2 {
    font-size: 1.33333em;
    line-height: 1.52344;
    margin-bottom: 1.21875em;
  }
}

.base--STYLED h3, .field-subtitle, .section-title, .typography--BLOCK-HEADING, .social-media .section-title, .press-releases h3, .media-contact h3 {
  font-size: 1.33333em;
  line-height: 1.52344;
  margin-bottom: 1.21875em;
}
@media (max-width: 31.25em) {
  .base--STYLED h3, .field-subtitle, .section-title, .typography--BLOCK-HEADING, .social-media .section-title, .press-releases h3, .media-contact h3 {
    font-size: 1.16016em;
    line-height: 1.40067;
    margin-bottom: 1.40067em;
  }
}

.base--STYLED h4, .typography--BLOCK-HEADING {
  font-size: 1.16016em;
  line-height: 1.40067;
}
@media (max-width: 31.25em) {
  .base--STYLED h4, .typography--BLOCK-HEADING {
    font-size: 1em;
  }
}

.base--STYLED h5 {
  font-size: 1.16016em;
  line-height: 1.40067;
}
@media (max-width: 31.25em) {
  .base--STYLED h5 {
    font-size: 1em;
  }
}

.base--STYLED h6 {
  font-size: 1.16016em;
  line-height: 1.40067;
}
@media (max-width: 31.25em) {
  .base--STYLED h6 {
    font-size: 1em;
  }
}

a:not(.button) {
  color: #13769d;
}
a:not(.button):visited {
  color: #13769d;
}
a:not(.button):focus {
  color: #f08c49;
}
a:not(.button):hover {
  color: #f08c49;
}
a:not(.button):active {
  color: #f08c49;
}

a {
  text-decoration: none;
  text-shadow: #fafcfd -1px 1px 0, #fafcfd 0 1px 0, #fafcfd 1px 1px 0;
  background-image: -moz-linear-gradient(bottom, #a4c9d8 1px, #fafcfd 2px);
  background-image: -webkit-linear-gradient(bottom, #a4c9d8 1px, #fafcfd 2px);
  background-image: linear-gradient(to top, #a4c9d8 1px, #fafcfd 2px);
}
a:visited {
  background-image: -moz-linear-gradient(bottom, #a4c9d8 1px, #fafcfd 2px);
  background-image: -webkit-linear-gradient(bottom, #a4c9d8 1px, #fafcfd 2px);
  background-image: linear-gradient(to top, #a4c9d8 1px, #fafcfd 2px);
}
a:focus {
  background-image: -moz-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: -webkit-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: linear-gradient(to top, #13769d 1px, #fafcfd 2px);
}
a:hover {
  background-image: -moz-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: -webkit-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: linear-gradient(to top, #13769d 1px, #fafcfd 2px);
}
a:active {
  background-image: -moz-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: -webkit-linear-gradient(bottom, #13769d 1px, #fafcfd 2px);
  background-image: linear-gradient(to top, #13769d 1px, #fafcfd 2px);
}

.menu-trigger, .section-title a, .press-room li a, .social-media a, .linked-image {
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
.menu-trigger:visited, .section-title a:visited, .press-room li a:visited, .social-media a:visited, .linked-image:visited {
  text-shadow: none;
  background-image: none;
}
.menu-trigger:focus, .section-title a:focus, .press-room li a:focus, .social-media a:focus, .linked-image:focus {
  text-shadow: none;
  background-image: none;
}
.menu-trigger:hover, .section-title a:hover, .press-room li a:hover, .social-media a:hover, .linked-image:hover {
  text-shadow: none;
  background-image: none;
}
.menu-trigger:active, .section-title a:active, .press-room li a:active, .social-media a:active, .linked-image:active {
  text-shadow: none;
  background-image: none;
}

#footer a:not(.button) {
  color: #0d5470;
}
#footer a:not(.button):visited {
  color: #0d5470;
}
#footer a:not(.button):focus {
  color: #0d5470;
}
#footer a:not(.button):hover {
  color: #fefefe;
}
#footer a:not(.button):active {
  color: #fefefe;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color], select, textarea {
  margin-top: 0;
  margin-bottom: 1.625em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  height: 2.4375em;
  border-width: 1px;
  border-color: #8e8e8e;
  font-size: 16px;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
}

textarea {
  height: 10.5625em;
}

label {
  margin-right: 0.5em;
  vertical-align: top;
  line-height: 2.4375em;
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  margin-right: 0.25em;
  margin-left: 0.25em;
}

legend {
  padding: 0 1em;
  white-space: nowrap;
}

fieldset {
  border-style: dashed;
}

table {
  width: 100%;
}

thead {
  border-bottom: 1px solid #8e8e8e;
}

th {
  font-weight: bold;
}

.a11y--element-invisible, .element-invisible, #footer .search > h1, #footer .address > h1 {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.a11y--element-focusable, .menu-trigger span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.a11y--element-focusable:active, .menu-trigger span:active, .a11y--element-focusable:focus, .menu-trigger span:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.social-media ul li {
  display: inline-block;
  margin-right: 0.25em;
  font-size: 21.33333px;
  -moz-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
}

.menu-trigger {
  float: right;
  min-width: 44px;
  text-align: center;
  line-height: 44px;
}

.bird-feed, .bird-feed article, #footer .search, .press-room, .testimonials {
  margin-bottom: 0.8125em;
  padding-bottom: 0.8125em;
  border-bottom: none;
}
.bird-feed:after, .bird-feed article:after, #footer .search:after, .press-room:after, .testimonials:after {
  content: "";
  display: table;
  clear: both;
}
.bird-feed:last-child, .bird-feed article:last-child, #footer .search:last-child, .press-room:last-child, .testimonials:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}

.testimonials article {
  border-bottom: 0.0625em solid rgba(135, 135, 133, 0.3);
  margin-bottom: 1.625em;
  padding-bottom: 1.5625em;
}
.testimonials article:after {
  content: "";
  display: table;
  clear: both;
}
.testimonials article:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}

.press-room li, .social-media {
  margin-bottom: 0.40625em;
  padding-bottom: 0.40625em;
  border-bottom: none;
}
.press-room li:after, .social-media:after {
  content: "";
  display: table;
  clear: both;
}
.press-room li:last-child, .social-media:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}

.press-room li {
  border-bottom: 0.0625em dashed rgba(135, 135, 133, 0.5);
}

[class^='external-links'] ul li:not(:last-child), .press-releases ul li:not(:last-child) {
  border-bottom: 0.0625em solid #ececec;
}

.menu-trigger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  min-width: 2.1875em;
  min-height: 2.1875em;
  background: rgba(254, 254, 254, 0.6);
  font-size: 1.2em;
  line-height: 2.1875;
  border-bottom-left-radius: 0.1875em;
  border-width: 0 0 1px 1px;
  border-style: solid;
  border-color: rgba(135, 135, 133, 0.3);
}
.menu-trigger:not(.button) {
  color: #f08c49;
}
.menu-trigger:not(.button):visited {
  color: #f08c49;
}
.menu-trigger:not(.button):focus {
  color: #f08c49;
}
.menu-trigger:not(.button):hover {
  color: #f8cbad;
}
.menu-trigger:not(.button):active {
  color: #f8cbad;
}
.menu-trigger:hover {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(135, 135, 133, 0.3);
}
@media (min-width: 48.75em) {
  .menu-trigger {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .menu-trigger:active, .menu-trigger:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
  }
}

@media (max-width: 48.6875em) {
  [role="navigation"], [role="banner"], [role="main"], #clear-pane {
    -moz-transition-property: -moz-transform, -webkit-transform, -moz-transform;
    -o-transition-property: -moz-transform, -webkit-transform, -o-transform;
    -webkit-transition-property: -moz-transform, -webkit-transform, -webkit-transform;
    transition-property: -moz-transform, -webkit-transform, transform;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -moz-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  body {
    position: relative;
  }

  [role="navigation"] {
    position: absolute;
    width: 250px;
    top: 0;
    left: -250px;
    text-shadow: rgba(31, 31, 31, 0.4) 1px 1px 0;
    text-align: right;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: "Archer SSm A", "Archer SSm B", serif;
    line-height: 44px;
  }
}
@media (max-width: 48.6875em) and (min-resolution: 2dppx), (max-width: 48.6875em) and (-webkit-min-device-pixel-ratio: 2), (max-width: 48.6875em) and (min--moz-device-pixel-ratio: 2), (max-width: 48.6875em) and (min-resolution: 192dpi) {
  [role="navigation"] {
    font-weight: 600;
  }
}
@media (max-width: 48.6875em) {
  [role="navigation"] ul {
    list-style: none;
  }
  [role="navigation"] ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  }
  [role="navigation"] a {
    padding: 0 0.5em;
    border-bottom: 2px solid #fafcfd;
  }
  [role="navigation"] a:not(.button) {
    color: #fafcfd;
  }
  [role="navigation"] a:not(.button):visited {
    color: #fafcfd;
  }
  [role="navigation"] a:not(.button):focus {
    color: #fafcfd;
  }
  [role="navigation"] a:not(.button):hover {
    color: #fefefe;
  }
  [role="navigation"] a:not(.button):active {
    color: #fefefe;
  }

  [role="banner"] {
    margin-top: -1px;
    padding-top: 1px;
    padding-bottom: 1.5em;
  }
  [role="banner"]:before {
    content: "\0020";
    position: absolute;
    width: 100%;
    min-width: 250px;
    height: 100%;
    top: 0;
    left: -100%;
    left: calc(-100% - 0.5em);
    background-color: #2b3542;
  }
  [role="banner"] .tagline {
    margin-bottom: 0;
  }

  [role="main"] {
    margin-top: -1px;
    padding-top: 1px;
  }
  [role="main"]:before {
    content: "\0020";
    position: absolute;
    width: 100%;
    min-width: 250px;
    height: 100%;
    top: 0;
    left: -100%;
    left: calc(-100% - 0.5em);
    background-color: #2b3542;
  }
}
@media (max-width: 48.6875em) {
  [data-nav-offside-active="true"] [role="navigation"], [data-nav-offside-active="true"] [role="banner"], [data-nav-offside-active="true"] [role="main"], [data-nav-offside-active="true"] #clear-pane {
    -moz-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  [data-nav-offside-active="true"] #clear-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(240, 140, 73, 0.9);
  }
}
@media (max-width: 48.6875em) and (min-width: 0.75em) {
  [data-nav-offside-active="true"] #clear-pane {
    background-color: rgba(254, 254, 254, 0.9);
  }
}

@media (min-width: 48.75em) {
  body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  [role="banner"] {
    -webkit-order: 1;
    order: 1;
  }

  [role="main"] {
    -webkit-order: 3;
    order: 3;
  }

  [role="navigation"] {
    -webkit-order: 2;
    order: 2;
    margin-left: -0.25em;
    margin-right: -0.25em;
    padding: 0.5em 0 1.5em;
    background-color: #fefefe;
  }
}
@media (min-width: 48.75em) and (min-width: 48.75em) {
  [role="navigation"] {
    border-left-width: 0.75em;
    border-right-width: 0.75em;
  }
}
@media (min-width: 48.75em) {
  [role="navigation"] ul {
    -moz-transform: translateY(0.75em);
    -webkit-transform: translateY(0.75em);
    transform: translateY(0.75em);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 0 1em;
    padding-left: 0;
  }
  [role="navigation"] ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0;
  }
  [role="navigation"] li {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    margin: 0 0.25em;
    padding: 0 0.25em;
    text-align: center;
  }
  [role="navigation"] li:nth-of-type(1) a:before {
    background-image: url('../images/birds/bird-01.svg');
  }
  [role="navigation"] li:nth-of-type(2) a:before {
    background-image: url('../images/birds/bird-02.svg');
  }
  [role="navigation"] li:nth-of-type(3) a:before {
    background-image: url('../images/birds/bird-03.svg');
  }
  [role="navigation"] li:nth-of-type(4) a:before {
    background-image: url('../images/birds/bird-04.svg');
  }
  [role="navigation"] li:nth-of-type(5) a:before {
    background-image: url('../images/birds/bird-05.svg');
  }
  [role="navigation"] li:nth-of-type(6) a:before {
    background-image: url('../images/birds/bird-06.svg');
  }
  [role="navigation"] li:nth-of-type(7) a:before {
    background-image: url('../images/birds/bird-07.svg');
  }
  [role="navigation"] a {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
    text-shadow: none;
    background-image: none;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ececec;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
  }
  [role="navigation"] a:not(.button) {
    color: #2b3542;
  }
  [role="navigation"] a:not(.button):visited {
    color: #2b3542;
  }
  [role="navigation"] a:not(.button):focus {
    color: #2b3542;
  }
  [role="navigation"] a:not(.button):hover {
    color: #f08c49;
  }
  [role="navigation"] a:not(.button):active {
    color: #f08c49;
  }
  [role="navigation"] a:visited {
    text-shadow: none;
    background-image: none;
  }
  [role="navigation"] a:focus {
    text-shadow: none;
    background-image: none;
  }
  [role="navigation"] a:hover {
    text-shadow: none;
    background-image: none;
  }
  [role="navigation"] a:active {
    text-shadow: none;
    background-image: none;
  }
  [role="navigation"] a:before {
    -moz-transform: translateX(0) translateY(-20%) rotateZ(0deg) scale(0.8);
    -webkit-transform: translateX(0) translateY(-20%) rotateZ(0deg) scale(0.8);
    transform: translateX(0) translateY(-20%) rotateZ(0deg) scale(0.8);
    -moz-transform-origin: 50% 100% 0;
    -webkit-transform-origin: 50% 100% 0;
    transform-origin: 50% 100% 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 45px;
    background-position: 50% 0;
    background-repeat: no-repeat;
    content: "\0020";
    opacity: 0.2;
  }
}
@media (min-width: 48.75em) and (min-width: 48.75em) and (min-height: 62.5em) {
  [role="navigation"] a:before {
    -moz-transform: translateX(0) translateY(-22%) rotateZ(0deg);
    -webkit-transform: translateX(0) translateY(-22%) rotateZ(0deg);
    transform: translateX(0) translateY(-22%) rotateZ(0deg);
  }
}

@media (min-width: 48.75em) {
  [id="footer"] {
    -webkit-order: 4;
    order: 4;
  }
}
[role="navigation"] {
  letter-spacing: 1px;
}

.site-header {
  position: relative;
  margin-bottom: 0;
  padding: 0 0.5em;
  padding-top: 2.75em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid rgba(19, 118, 157, 0.1);
  background-color: #fefefe;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/feathers/feather.svg');
  background-color: #e1edf2;
}
@media (min-width: 48.75em) {
  .site-header {
    background-position: 50% 10%;
  }
}
@media (max-width: 48.6875em) {
  [data-nav-offside-active="true"] .site-header {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .site-header {
    padding-bottom: 2em;
    padding-top: 2em;
    background-position: 50% 50%;
  }
}

.site-header-wrapper {
  position: relative;
}
@media (min-width: 48.75em) {
  .site-header-wrapper {
    -moz-transform: translateX(0.5em);
    -ms-transform: translateX(0.5em);
    -webkit-transform: translateX(0.5em);
    transform: translateX(0.5em);
  }
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .site-header-wrapper {
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
    background-color: #fefefe;
    max-width: 32em;
    margin: 0 auto;
    background-image: -moz-linear-gradient(left, #f08c49 1.5em, rgba(240, 140, 73, 0.2) 1.5em, rgba(240, 140, 73, 0.2) 2.5em, rgba(254, 254, 254, 0) 2.5em);
    background-image: -webkit-linear-gradient(left, #f08c49 1.5em, rgba(240, 140, 73, 0.2) 1.5em, rgba(240, 140, 73, 0.2) 2.5em, rgba(254, 254, 254, 0) 2.5em);
    background-image: linear-gradient(to right, #f08c49 1.5em, rgba(240, 140, 73, 0.2) 1.5em, rgba(240, 140, 73, 0.2) 2.5em, rgba(254, 254, 254, 0) 2.5em);
  }
}

[role="main"] {
  padding-top: 5em;
}
@media (min-width: 30em) and (min-height: 62.5em) {
  [role="main"] {
    padding-top: 0;
  }
}
@media (min-width: 48.75em) {
  [role="main"] {
    padding-top: 0;
  }
}

.logo-site-name {
  float: none;
  border-bottom: none;
  text-decoration: none;
  text-shadow: none;
  background-image: none;
}
.logo-site-name:visited {
  text-shadow: none;
  background-image: none;
}
.logo-site-name:focus {
  text-shadow: none;
  background-image: none;
}
.logo-site-name:hover {
  text-shadow: none;
  background-image: none;
}
.logo-site-name:active {
  text-shadow: none;
  background-image: none;
}
@media (min-width: 48.75em) {
  .logo-site-name {
    float: left;
  }
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .logo-site-name {
    float: none;
  }
}

.logo {
  position: absolute;
  width: 70px;
  opacity: 1;
  top: 0;
  left: 0;
  z-index: 0;
  -moz-transform: translateY(-84px) translateX(-8px);
  -ms-transform: translateY(-84px) translateX(-8px);
  -webkit-transform: translateY(-84px) translateX(-8px);
  transform: translateY(-84px) translateX(-8px);
}
.logo svg {
  max-width: 100%;
}
.logo .svg-bird {
  fill: #f08c49;
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .logo {
    -moz-transform: translateY(-26px);
    -webkit-transform: translateY(-26px);
    transform: translateY(-26px);
    position: relative;
    display: block;
    margin: 0 auto -66px;
    opacity: 1;
  }
  .logo:before, .logo:after {
    position: absolute;
    top: 50%;
    display: block;
    border-bottom: 1px solid #f8cbad;
    content: "\0020";
  }
  .logo:before {
    left: -110%;
    width: 100%;
  }
  .logo:after {
    left: 86%;
    width: 114%;
  }
}
.logo img {
  border: none;
}

.site-name {
  margin-top: 0;
  margin-bottom: 0;
  color: #f08c49;
  font-weight: 500;
  font-size: 1.75em;
  white-space: nowrap;
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
}
@media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2), (min--moz-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .site-name {
    font-weight: 600;
  }
}
@media (min-width: 48.75em) {
  .site-name {
    margin-left: 4px;
  }
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .site-name {
    margin-left: 0;
    padding: 0 0.25em;
    padding-bottom: 0.125em;
    text-align: center;
    font-weight: 400;
    font-size: 1.77778em;
    line-height: 1.82813em;
  }
}

.tagline {
  position: absolute;
  top: 100%;
  margin-top: 8px;
  margin-bottom: 0;
  max-width: 18.57143em;
  color: #0d5470;
  -moz-transform: translateX(6px);
  -ms-transform: translateX(6px);
  -webkit-transform: translateX(6px);
  transform: translateX(6px);
}
.tagline:after {
  content: "\0020";
  width: 100%;
  height: 2em;
  border-top: 1px solid #f08c49;
  top: 4px;
  bottom: -0.25em;
  left: 0;
  display: block;
  position: relative;
  background-image: url('../images/feathers/feather-gray.svg');
  background-position: 50% 64%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 48.75em) {
  .tagline {
    position: static;
    float: left;
    margin-left: 1em;
    width: 32em;
    max-width: 32em;
    font-weight: 600;
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  .tagline:after {
    display: none;
  }
}
@media (min-width: 48.75em) and (min-resolution: 2dppx), (min-width: 48.75em) and (-webkit-min-device-pixel-ratio: 2), (min-width: 48.75em) and (min--moz-device-pixel-ratio: 2), (min-width: 48.75em) and (min-resolution: 192dpi) {
  .tagline {
    -moz-transform: translateY(6px);
    -ms-transform: translateY(6px);
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@media (min-width: 30em) and (min-height: 62.5em) {
  .tagline {
    margin: 0 auto;
    padding-bottom: 0.5em;
    max-width: 18.75em;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.625;
    position: static;
    float: none;
    -moz-transform: none;
    -ms-transform: none;
    -webkit-transform: none;
    transform: none;
  }
  .tagline:after {
    display: none;
  }
}
.tagline .amp {
  -moz-transform: scale(1.5) translateY(0px);
  -webkit-transform: scale(1.5) translateY(0px);
  transform: scale(1.5) translateY(0px);
  display: inline-block;
  margin: 0 0.125em;
  font-weight: 600;
  opacity: 0.3;
}
@media (min-width: 30em) and (min-height: 62.5em) {
  .tagline .amp {
    -moz-transform: scale(1.5) translateY(1px);
    -webkit-transform: scale(1.5) translateY(1px);
    transform: scale(1.5) translateY(1px);
  }
}

blockquote:last-child {
  margin-bottom: 0.8125em;
}

blockquote {
  position: relative;
  margin: 0 0 26px 1.5em;
}
blockquote:before {
  position: absolute;
  left: -0.5em;
  color: #ec6e1a;
  content: "“";
  font-size: 3em;
  line-height: 1;
}

blockquote footer {
  color: #da6212;
  text-align: right;
}
blockquote footer:before {
  margin-right: 0.25em;
  color: #13769d;
  content: "~";
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

button, input[type='submit'], input[type='reset'], input[type='button'], .big-button, .call-to-action {
  display: inline-block;
  border-radius: 0.25em;
  border: none;
  font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration: none;
}

button, input[type='submit'], input[type='reset'], input[type='button'], .call-to-action {
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  line-height: 1.25;
}

.big-button {
  padding: 0.5em 0.75em;
  font-size: 1.1em;
  line-height: 1.5;
}

button, input[type='submit'], input[type='reset'], input[type='button'] {
  color: #fefefe;
  background-color: #b6b6b6;
}
button:hover, input[type='submit']:hover, input[type='reset']:hover, input[type='button']:hover {
  background-color: #c7c7c7;
}
button:active, input[type='submit']:active, input[type='reset']:active, input[type='button']:active {
  background-color: #e3e3e3;
}

.big-button.warning:hover {
  background-color: #c0d9e4;
}
.big-button.warning:active {
  background-color: #e7f1f5;
}

.big-button {
  color: #1f1f1f;
  background-color: #b9cfaa;
}
.big-button:hover {
  background-color: #e0eada;
}
.big-button:active {
  background-color: #f6f9f4;
}

.call-to-action {
  color: #fefefe;
  background-color: #3c2312;
}
.call-to-action:hover {
  background-color: #5b381e;
}
.call-to-action:active {
  background-color: #a56939;
}

.section-title, .page-title {
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0.28125em 0.31641em;
  background-color: #f08c49;
  color: #fefefe;
}

.section-title a {
  color: #fefefe;
}
.section-title a:visited {
  color: #fefefe;
}
.section-title a:focus {
  color: #fefefe;
}
.section-title a:hover {
  color: #fefefe;
}
.section-title a:active {
  color: #fefefe;
}
.section-title a:hover {
  text-shadow: #13769d 2px 2px 0;
}

.typography--BLOCK-HEADING {
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0.28125em 0.31641em;
  background-color: #13769d;
  color: #fefefe;
}

.bird-feed article > h1 {
  margin-bottom: 0.25em;
  color: #13769d;
  font-size: 1.33333em;
  line-height: 1.5em;
}

blockquote h1 {
  margin-bottom: 0.25em;
  color: #13769d;
  font-size: 1.33333em;
  line-height: 1.5em;
  color: #13769d;
}

.social-media .section-title {
  display: inline;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  border-bottom: none;
  background-color: transparent;
  color: #f08c49;
}
.social-media .section-title:after {
  content: ": ";
  margin-right: 0.25em;
}

.page-title {
  margin-left: -0.14063em;
  margin-right: -0.14063em;
  min-width: 50%;
  -webkit-filter: drop-shadow(#fefefe 0 4px 0);
  filter: drop-shadow(#fefefe 0 4px 0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
@media (max-width: 31.25em) {
  .page-title {
    margin-left: -0.16162em;
    margin-right: -0.16162em;
  }
}
@media (min-width: 30em) and (min-height: 62.5em) {
  main .page-title:before {
    border-right-color: #e1edf2;
  }
}
@media (min-width: 48.75em) {
  main .page-title:before {
    border-right-color: #fefefe;
  }
}

.field-subtitle {
  margin-top: -1.5em;
  margin-right: -0.1875em;
  margin-bottom: 1em;
  margin-left: -0.1875em;
  padding-top: 1.03125em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.46875em;
  background-color: rgba(19, 118, 157, 0.5);
  color: white;
}
@media (max-width: 31.25em) {
  .field-subtitle {
    margin-left: -0.21549em;
    margin-right: -0.21549em;
  }
}

.section-title {
  margin-right: -0.1875em;
  margin-left: -0.1875em;
  margin-bottom: 0;
}
@media (max-width: 31.25em) {
  .section-title {
    margin-left: -0.21549em;
    margin-right: -0.21549em;
  }
}

.typography--BLOCK-HEADING {
  margin-right: -0.21549em;
  margin-left: -0.21549em;
}
@media (max-width: 31.25em) {
  .typography--BLOCK-HEADING {
    margin-left: -0.25em;
    margin-right: -0.25em;
  }
}

.page-title:before, .section-title:before, .typography--BLOCK-HEADING:before {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-color: #fafcfd;
  border-width: 0em 0.5em 0.5em 0;
  top: 0;
  right: 0;
  content: "\0020";
}

.page-title:after {
  display: block;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-color: #f08c49;
  border-width: 0.5em 0.5em 0 0.5em;
  top: 100%;
  left: 0.25em;
  content: "\0020";
}

.file-download--image .linked-image:before, .file-download--image .linked-image:after {
  height: 0.75em;
  width: 100%;
  background-color: #fafcfd;
  bottom: -1px;
  content: "\0020";
}
.file-download--image .linked-image:before {
  right: calc(100% - 1.5em);
  -moz-transform-origin: 0 100% 50%;
  -ms-transform-origin: 0 100% 50%;
  -webkit-transform-origin: 0 100% 50%;
  transform-origin: 0 100% 50%;
  -moz-transform: skewX(45deg);
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}
.file-download--image .linked-image:after {
  left: 1.5em;
  -moz-transform-origin: 0 100% 50%;
  -ms-transform-origin: 0 100% 50%;
  -webkit-transform-origin: 0 100% 50%;
  transform-origin: 0 100% 50%;
  -moz-transform: skewX(-45deg);
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

.inline-list, .social-media ul {
  list-style-type: none;
}
.inline-list, .social-media ul, .inline-list li, .social-media ul li {
  margin: 0;
  padding: 0;
  display: inline;
}

[class^='external-links'] ul, .press-releases ul, .media-placements ul, .no-bullets, .press-room ul, .sg-swatch {
  list-style: none;
}
[class^='external-links'] ul li, .press-releases ul li, .media-placements ul li, .no-bullets li, .press-room ul li, .sg-swatch li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

[class^='external-links'] ul, .press-releases ul, .media-placements ul {
  padding-left: 0;
}

[class^='external-links'] ul li, .press-releases ul li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.message {
  padding: 0.2em 0.5em;
  border-style: solid;
  border-width: .15em;
  border-radius: .25em;
}

.message, .message.status {
  color: #1f1f1f;
  background-color: #bbd2b0;
  border-color: #94b983;
}

.big-button.warning, .message.warning {
  color: #1f1f1f;
  background-color: #b0cfdc;
  border-color: #7fb1c7;
}

.message.error {
  color: #1f1f1f;
  background-color: #f4c0a1;
  border-color: #ed9763;
}

.pager {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pager-first, .pager-previous, .pager-item, .pager-next, .pager-last {
  display: inline;
  margin: 0;
  padding: 0.2em 0.5em;
  text-transform: uppercase;
}

.speech-bubble, .press-room li a:before {
  display: block;
  float: left;
  margin: auto 0.5em auto -1.5em;
  font-size: 18.5625px;
  opacity: 0.75;
  -moz-transform: translateY(2px) scale(1.5);
  -webkit-transform: translateY(2px) scale(1.5);
  transform: translateY(2px) scale(1.5);
}

.bird-feed .section-title {
  margin-right: 0;
  padding-right: 0;
}
.bird-feed article {
  padding-top: 0.8125em;
}
.bird-feed article:nth-of-type(even) {
  background-color: #fefefe;
}
.bird-feed article > h1 {
  border-bottom: 1px dashed rgba(135, 135, 133, 0.3);
  margin-bottom: 1em;
}
.bird-feed article p:last-child {
  margin-bottom: 0;
}
.bird-feed img {
  display: block;
  margin-top: 1em;
  max-width: 100%;
  max-width: 320px;
  -webkit-clip-path: polygon(0% 0%, 0% 93.8%, 3.208% 100%, 6.327% 93.8%, 9.447% 100%, 12.566% 93.8%, 15.686% 100%, 18.805% 93.8%, 21.924% 100%, 25.044% 93.8%, 28.164% 100%, 31.283% 93.8%, 34.402% 100%, 37.522% 93.8%, 40.641% 100%, 43.761% 93.8%, 46.88% 100%, 50% 93.8%, 53.114% 100%, 56.238% 93.8%, 59.358% 100%, 62.477% 93.8%, 65.597% 100%, 68.716% 93.8%, 71.835% 100%, 74.955% 93.8%, 78.075% 100%, 81.194% 93.8%, 84.313% 100%, 87.433% 93.8%, 90.552% 100%, 93.672% 93.8%, 96.791% 100%, 100% 93.8%, 100% 0%);
  clip-path: url("#chevron-bottom");
}
@media (min-width: 20.0625em) and (max-width: 31.1875em) {
  .bird-feed img {
    margin: 1em auto 0.5em;
  }
}
@media (min-width: 31.25em) {
  .bird-feed img {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
    margin-left: 1.69492%;
    -webkit-clip-path: polygon(3.119% 100%, 0% 94.453%, 3.119% 88.906%, 0% 83.359%, 3.119% 77.812%, 0% 72.266%, 3.119% 66.719%, 0% 61.172%, 3.119% 55.625%, 0% 50.078%, 3.119% 44.532%, 0% 38.985%, 3.119% 33.438%, 0% 27.891%, 3.119% 22.345%, 0% 16.798%, 3.119% 11.251%, 0% 5.807%, 3.119% 0, 100% 0, 100% 100%, 3.119% 100%);
    clip-path: url("#chevron-left");
  }
}

#footer {
  margin-top: 3.25em;
  padding-top: 1.625em;
  padding-bottom: 3.25em;
  border-top: 0.5em solid #13769d;
  background: #f08c49;
  color: #fefefe;
}
#footer .search form {
  position: relative;
}
#footer .search input {
  position: relative;
  z-index: 1;
  margin-right: -50px;
  padding: 3px 50px 3px 3px;
  min-height: 44px;
  width: 100%;
  border: 1px solid #878785;
  background: #fefefe;
}
#footer .search button {
  position: relative;
  z-index: 2;
  float: right;
  width: 44px;
  height: 44px;
  border: none;
  border-left: 1px solid #878785;
  background: rgba(135, 135, 133, 0.3);
  color: #13769d;
  font-size: 18px;
  text-shadow: rgba(254, 254, 254, 0.8) 1px 1px 0;
}

.hero {
  position: relative;
  margin: 0 0 0 0;
}
.hero figure {
  position: relative;
  overflow: hidden;
}
.hero img {
  border: none;
}
.hero figcaption {
  position: absolute;
  bottom: 0;
  padding: 0.2em 0 0;
  width: 100%;
  text-shadow: rgba(254, 254, 254, 0.3) 1px 1px 0;
}
.hero h1 {
  float: left;
  clear: left;
  margin: 0;
  padding: 0.1875em 0.5em;
  background: rgba(254, 254, 254, 0.8);
  min-width: 66%;
  color: #ec6e1a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
}
@media (min-width: 35em) {
  .hero h1 {
    min-width: 33%;
    line-height: 1.625;
    font-size: 21.33333px;
  }
}
.hero p {
  float: left;
  clear: left;
  margin: 0;
  padding: 0.1875em 0.5em;
  background: rgba(254, 254, 254, 0.8);
  min-width: 80%;
  line-height: 1.1;
}
@media (min-width: 35em) {
  .hero p {
    min-width: 66%;
    line-height: 1.625;
  }
}

.hero-image {
  margin-left: -0.25em;
  margin-right: -0.25em;
}

.press-room li a {
  display: inline-block;
  padding-left: 1.5em;
}
.press-room li:nth-of-type(even) {
  background-color: #fefefe;
}

@media (min-width: 31.25em) and (max-width: 59.3125em) {
  .testimonials article {
    border-bottom: none;
  }
  .testimonials article:nth-of-type(odd) {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    clear: both;
  }
  .testimonials article:nth-of-type(even) {
    width: 6.77966%;
    float: left;
    margin-right: -100%;
    margin-left: 8.47458%;
    clear: none;
  }
  .testimonials article:nth-of-type(odd):last-of-type {
    width: 100%;
  }
}

.media-youtube-video {
  position: relative;
  height: 0;
  padding-top: 59.375%;
  width: 100%;
  clear: both;
}
.media-youtube-video iframe {
  display: block;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  margin: 0;
  padding: 0;
}

[class^='external-links'] ul, .press-releases ul {
  margin-bottom: 1.625em;
}

.press-releases h3, .media-contact h3 {
  margin-bottom: 0;
}

[class*="--EMBEDDED-BLOCK"] {
  margin-bottom: 1.625em;
}

.press-releases {
  margin-top: 1.625em;
}
.press-releases li {
  position: relative;
}
.press-releases .icon-bubble {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.press-releases .icon-bubble + .press-title-link {
  margin-left: 2.5em;
}

.media-contact {
  margin-top: 1.625em;
  margin-bottom: 1.625em;
}

.name {
  font-weight: 600;
}

.label {
  font-style: italic;
}

.file-downloads--client:after {
  content: "";
  display: table;
  clear: both;
}

.file-downloads--client[data-eq-state="medium"] .file-download--image:nth-of-type(odd) {
  width: 48.64865%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: left;
}
.file-downloads--client[data-eq-state="medium"] .file-download--image:nth-of-type(even) {
  width: 48.64865%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.file-download--image {
  margin-bottom: 1.625em;
  overflow: hidden;
}
.file-download--image img {
  vertical-align: text-bottom;
}
.file-download--image figcaption {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.file-download--image figcaption .credit {
  color: #8e8e8e;
}

.media-placements:after {
  content: "";
  display: table;
  clear: both;
}

._2-even .placement:nth-of-type(odd) {
  width: 48.64865%;
  float: left;
  margin-right: -100%;
  margin-left: 0;
  clear: left;
}
._2-even .placement:nth-of-type(even) {
  width: 48.64865%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.placement {
  margin-bottom: 1.625em;
}
.placement .name {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

._client .intro {
  padding-left: 1.5em;
}
@media (min-width: 38.75em) {
  ._client .hero-image {
    width: 47.61905%;
    float: right;
    margin-left: 1em;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 50em) {
  ._client .hero-image {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  ._client .intro {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  ._client .testimonial {
    clear: both;
  }
}
@media (min-width: 59.375em) {
  ._client .hero-image {
    width: 36.7275%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  ._client .intro {
    width: 59.42634%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
  }
  ._client .testimonial {
    width: 59.42634%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: left;
  }
  ._client .our-work {
    clear: both;
  }
}
@media (min-width: 76.25em) {
  ._client .hero-image {
    width: 31.25%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
  ._client .intro {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: none;
    padding-left: initial;
  }
  ._client .testimonial {
    width: 31.25%;
    float: left;
    margin-right: -100%;
    margin-left: 34.375%;
    clear: none;
  }
}
@media (min-width: 40em) {
  ._client .media-placements {
    clear: both;
  }
  ._client .our-work {
    width: 47.61905%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both;
  }
  ._client .for-the-media {
    width: 47.61905%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}
@media (min-width: 59.375em) {
  ._client .our-work {
    width: 59.42634%;
    float: left;
    margin-right: -100%;
    margin-left: 0;
    clear: both;
  }
  ._client .for-the-media {
    width: 36.7275%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

.article--body:after {
  content: "";
  display: table;
  clear: both;
}
.article--body .grouping {
  clear: both;
}
.article--body[data-eq-state="medium"] .content-image {
  max-width: 50%;
}
.article--body[data-eq-state="medium"] .file-video {
  width: 50%;
}
.article--body[data-eq-state="medium"] .content-image, .article--body[data-eq-state="medium"] .file-video {
  clear: right;
  float: right;
  margin-left: 1em;
  margin-bottom: 1.625em;
}
.article--body[data-eq-state="large"] .content-image {
  max-width: 38.1966%;
}
.article--body[data-eq-state="large"] .file-video {
  width: 38.1966%;
}
.article--body[data-eq-state="large"] .content-image, .article--body[data-eq-state="large"] .file-video {
  margin-bottom: 1.625em;
}
.article--body[data-eq-state="large"] .grouping:nth-of-type(odd) .content-image, .article--body[data-eq-state="large"] .grouping:nth-of-type(odd) .file-video {
  clear: right;
  float: right;
  margin-left: 1em;
}
.article--body[data-eq-state="large"] .grouping:nth-of-type(even) .content-image, .article--body[data-eq-state="large"] .grouping:nth-of-type(even) .file-video {
  clear: left;
  float: left;
  margin-right: 1em;
}

.sg-swatch.black {
  background-color: #1f1f1f;
}
.sg-swatch.white {
  background-color: #fefefe;
}
.sg-swatch.orange {
  background-color: #f08c49;
}
.sg-swatch.blue-very-light {
  background-color: #e1edf2;
}
.sg-swatch.blue-light {
  background-color: #a4c9d8;
}
.sg-swatch.blue {
  background-color: #13769d;
}
.sg-swatch.blue-slate {
  background-color: #2b3542;
}
.sg-swatch.green {
  background-color: #a9ca98;
}
.sg-swatch.orange-chocolate {
  background-color: #311b03;
}
.sg-swatch.gray {
  background-color: #8e8e8e;
}
.sg-swatch.gray-dark {
  background-color: #2d2d2d;
}
.sg-swatch.gray-med {
  background-color: #3d3d3d;
}
.sg-swatch.gray-light {
  background-color: #878785;
}
.sg-swatch.gray-lighter {
  background-color: #ececec;
}
.sg-swatch.gray-extra-light {
  background-color: #d3d3d2;
}
.sg-swatch.cool-white {
  background-color: #fafcfd;
}
.sg-swatch.cool-white-shade {
  background-color: #f5f6f7;
}
.sg-swatch.orange-dark {
  background-color: #ec6e1a;
}
.sg-swatch.orange-darker {
  background-color: #da6212;
}
.sg-swatch.orange-light {
  background-color: #f8cbad;
}
.sg-swatch.blue-dark {
  background-color: #0d5470;
}
.sg-swatch.gray-trans {
  background-color: rgba(135, 135, 133, 0.3);
}
.sg-swatch.blue-slate-mult {
  background-color: #232c38;
}

.sg-label {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.sg-ms li {
  white-space: nowrap;
}
.sg-ms .ms-0 {
  font-size: 16px;
}
.sg-ms .ms-1 {
  font-size: 18.5625px;
}
.sg-ms .ms-2 {
  font-size: 21.33333px;
}
.sg-ms .ms-3 {
  font-size: 24.75px;
}
.sg-ms .ms-4 {
  font-size: 28.44444px;
}
.sg-ms .ms-5 {
  font-size: 33.0px;
}
.sg-ms .ms-6 {
  font-size: 37.92593px;
}
.sg-ms .ms-7 {
  font-size: 44px;
}
.sg-ms .ms-8 {
  font-size: 50.5679px;
}
.sg-ms .ms-9 {
  font-size: 58.66667px;
}
.sg-ms .ms-10 {
  font-size: 67.42387px;
}

/*# sourceMappingURL=style.css.map */
