&lt;!-- Begin Footer --&gt;
&lt;footer id=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
  {{&gt; molecules-footer-logo-title }}
  &lt;div id=&quot;block-canary-blocks-canary-address&quot; class=&quot;block block-canary-blocks  block-canary-blocks-canary-address&quot;&gt;
    &lt;section class=&quot;address&quot;&gt;
      &lt;h1&gt;Our Address&lt;/h1&gt;
      {{&gt; molecules-address }}
    &lt;/section&gt;
  &lt;/div&gt;
  {{&gt; molecules-copyright }}
&lt;/footer&gt;
&lt;!-- End Footer --&gt;
