&lt;a href=&quot;/&quot; class=&quot;footer-logo-site-name&quot;&gt;
  &lt;div class=&quot;footer-logo&quot;&gt;{{&gt; atoms-logo }}&lt;/div&gt;
  &lt;div class=&quot;footer-site-name&quot;&gt;{{ title }}&lt;/div&gt;
&lt;/a&gt;
