<form id="search" action="{{ url }}" method="post" class="search-form">
  <legend class="element-invisible">Search</legend>
  <input type="text" maxlength="128" name="search_block_form" size="15" value="" placeholder="Looking for something?" class="form-text">
  <button id="edit-submit-1" type="submit" name="op" value="Search" class="form-submit icon-canary">search</button>
</form>
