&lt;aside class=&quot;case-study--EMBEDDED-BLOCK&quot;&gt;
  &lt;h2 class=&quot;typography--BLOCK-HEADING&quot;&gt;Case Study&lt;/h2&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;
&lt;/aside&gt;
