&lt;section class=&quot;testimonials&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Testimonials&lt;/h1&gt;
  {{&gt; molecules-testimonial-teaser }}
  {{&gt; molecules-testimonial-teaser }}
  {{&gt; molecules-testimonial-teaser }}
&lt;/section&gt;
