<header id="header" role="banner" class="site-header">
  <div class="site-header-wrapper">
    <div id="block-canary-blocks-svg-logo" class="block block-canary-blocks  block-canary-blocks-svg-logo">
      <a href="/" class="logo-site-name">
        <div class="logo">{{> atoms-logo }}</div>
        <h1 class="site-name">Canary Promotion</h1>
      </a>
      <p class="tagline">
        Communications for Arts, Culture
        <span class="amp">&amp;</span>
        Mission-Driven Clients
      </p>
    </div>
  </div>
</header>
