<article class="feature hero">
  <figure>
    <a href="{{ url }}" class="b-inner">
      {{> atoms-landscape-16x9 }}
      <figcaption>
        <h1>{{ client.one }}</h1>
        <p>Philadelphia’s premier contemporary arts organization.</p>
      </figcaption>
    </a>
  </figure>
</article>
