<section class="press-room">
  <h1 class="section-title">Press Room</h1>
  <ul>
    <li>
      <a href="#" title="headline press" data-icon="bubble">{{ headline.medium }}</a>
    </li>
    <li>
      <a href="#" title="headline press" data-icon="bubble">{{ headline.medium }}</a>
    </li>
    <li>
      <a href="#" title="headline press" data-icon="bubble">{{ headline.medium }}</a>
    </li>
    <li>
      <a href="#" title="headline press" data-icon="bubble">{{ headline.medium }}</a>
    </li>
    <li>
      <a href="#" title="headline press" data-icon="bubble">{{ headline.medium }}</a>
    </li>
  </ul>
</section>
