<section class="media-contact">
  <h3>Media Contact</h3>

  <div class="name">Carolyn Huckabay</div>
  <div class="phone">
    <label>Phone:</label>
    215-555-5555
  </div>
  <div class="email">
    <label>email:</label>
    <a href="mailto:mason@thecodingdesigner.com">mason@thecodingdesigner.com</a>
  </div>
</section>
