<section class="file-downloads--client" data-eq-pts="small: 0, medium: 350">
  <h1 class="section-title">Download Images</h1>
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
</section>
