<section class="file-downloads--client _2-even">
  <h1 class="section-title">
      <a href="blog">Download Images</a>
    </h1>
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
  {{> molecules-downloadable-image }}
</section>
