<aside class="links">
  <h2>Links</h2>
  <ul>
    <li>web: <a href="{{ url }}">philartalliance.org</a></li>
    <li>facebook: <a href="{{ url }}">facebook.com/philartalliance</a></li>
    <li>twitter: <a href="{{ url }}">twitter.com/philartalliance</a></li>
  </ul>
</aside>
