<aside class="external-links--EMBEDDED-BLOCK"">
  <h2 class="typography--BLOCK-HEADING">Links</h2>
  <ul>
    <li>web: <a href="{{ url }}">philartalliance.org</a></li>
    <li>facebook: <a href="{{ url }}">facebook.com/philartalliance</a></li>
    <li>twitter: <a href="{{ url }}">twitter.com/philartalliance</a></li>
  </ul>
</aside>

