<section class="press-releases">
  <h3>Press Releases</h3>
  <ul>
    <li>
      {{> atoms-bubble }}
      <div class="press-title-link"><a href="{{ url }}">{{ headline.short }}</a></div>
    </li>
    <li>
      {{> atoms-bubble }}
      <div class="press-title-link"><a href="{{ url }}">{{ headline.medium }}</a></div>
    </li>
    <li>
      {{> atoms-bubble }}
      <div class="press-title-link"><a href="{{ url }}">{{ headline.short }}</a></div>
    </li>
    <li>
      {{> atoms-bubble }}
      <div class="press-title-link"><a href="{{ url }}">{{ headline.medium }}</a></div>
    </li>
  </ul>
</section>
