<section class="press-releases">
  <h3>Press Releases</h3>
  <ul>
    <li>{{> atoms-bubble }}<a href="{{ url }}">{{ headline.short }}</a></li>
    <li>{{> atoms-bubble }}<a href="{{ url }}">{{ headline.medium }}</a></li>
    <li>{{> atoms-bubble }}<a href="{{ url }}">{{ headline.short }}</a></li>
    <li>{{> atoms-bubble }}<a href="{{ url }}">{{ headline.medium }}</a></li>
  </ul>
</section>
