<section class="media-contact">
  <h3>Media Contact</h3>
  <div class="name">{{ name.first }} {{ name.last }}</div>
  <div class="phone">
    <span class="label">Phone: </span>
    {{ phone }}
  </div>
  <div class="email">
    <span class="label">email: </span>
    <a href="{{ url }}">{{ email }}</a>
  </div>
</section>
