<section class="media-placements">
  <h1 class="section-title">Media Placements</h1>
  <ul>
    <li class="placement">
      <a href="{{ url }}" class="linked-image">{{> atoms-external-logo }}</a>
      <a href="{{ url }}"><div class="name">{{ media.one }}</div></a>
    </li>
    <li class="placement">
      <a href="{{ url }}" class="linked-image">{{> atoms-external-logo }}</a>
      <a href="{{ url }}"><div class="name">{{ media.two }}</div></a>
    </li>
  </ul>
</section>
