<section class="media-placements">
  <h1 class="section-title">Media Placements</h1>
  <ul>
    {{#img.logos}}
      <li class="placement">
        <a href="{{ url }}" class="linked-image">
          <img src="{{ logo.src }}" alt="{{ logo.alt }}" class="placement-logo" />
        </a>
      </li>
    {{/img.logos}}
  </ul>
</section>
