<section class="media-placements">
  <h3 class="field-label">Media Placements</h3>
  <ul>
    <li class="placement">
      <a href="{{ url }}">
        {{> atoms-external-logo }}
        <div class="name">{{ media.one }}</div>
      </a>
    </li>
    <li class="placement">
      <a href="{{ url }}">
        {{> atoms-external-logo }}
        <div class="name">{{ media.two }}</div>
      </a>
    </li>
  </ul>
</section>
