&lt;div class=&quot;field-image&quot;&gt;
  &lt;figure&gt;
    {{&gt; atoms-landscape-16x9 }}
    &lt;figcaption&gt;
      &lt;div class=&quot;field-file-image-title-text&quot;&gt;{{ img.landscape-16x9.title }}&lt;/div&gt;
      &lt;div class=&quot;field-caption&quot;&gt;{{ img.landscape-16x9.caption }}&lt;/div&gt;
    &lt;/figcaption&gt;
  &lt;/figure&gt;
&lt;/div&gt;
