<figure class="file-download--image">
  <a href="{{ url }}" class="linked-image">
    {{> atoms-square }}
  </a>
  <figcaption>
    <div class="caption">{{ img.square.caption }}</div>
    <div class="field-caption">{{ img.square.credit }}</div>
  </figcaption>
</figure>
