<div class="base--STYLED user-generated">
  {{> molecules-fluid-landscape-16x9 }}
  {{> atoms-paragraph }}
  {{> atoms-youtube }}
  {{> atoms-paragraph }}
  {{> molecules-fluid-landscape-4x3 }}
  {{> atoms-paragraph }}
</div>
