<div class="base--STYLED user-generated article--body" data-eq-pts="medium: 580, large: 750">
  <div class="field-image-plus">
    {{> molecules-fluid-landscape-16x9 }}
    {{> atoms-paragraph }}
  </div>
  <div class="field-image-plus">
    {{> atoms-youtube }}
    {{> atoms-paragraph }}
  </div>
  <div class="field-image-plus">
    {{> molecules-fluid-landscape-4x3 }}
    {{> atoms-paragraph }}
  </div>
</div>
