<div class="field-image">
  <figure>
    {{> atoms-landscape-16x9 }}
    <figcaption>
      <div class="field-file-image-title-text">{{ img.landscape-16x9.title }}</div>
      <div class="field-caption">{{ img.landscape-16x9.caption }}</div>
    </figcaption>
  </figure>
</div>
