&lt;div id=&quot;canary-vcard&quot; class=&quot;vcard&quot;&gt;
  &lt;div class=&quot;adr&quot;&gt;
    &lt;div class=&quot;street-address&quot;&gt;24 E Glenside Ave, 1st Floor&lt;/div&gt;
    &lt;span class=&quot;locality&quot;&gt;Glenside&lt;/span&gt;
    ,
    &lt;span class=&quot;region&quot;&gt;PA&lt;/span&gt;
    ,
    &lt;span class=&quot;postal-code&quot;&gt;19038&lt;/span&gt;
    &lt;span class=&quot;country-name&quot;&gt;USA&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;map&quot;&gt;
    &lt;a href=&quot;http://maps.google.com/maps?hl=en&amp;amp;q=24+E+Glenside+Ave,+1st+Floor+Glenside+,+PA+,+19038&amp;amp;ie=UTF8&amp;amp;hq=&amp;amp;hnear=24+E+Glenside+Ave,+Glenside,+Montgomery,+Pennsylvania+19038&amp;amp;gl=us&amp;amp;ei=mhHfS92bGISClAfJsNTnBA&amp;amp;ved=0CAkQ8gEwAA&amp;amp;z=16&quot;&gt;Google Map&lt;/a&gt;
  &lt;/div&gt;
  &lt;div class=&quot;tel&quot;&gt;(215) 690-4065&lt;/div&gt;
  &lt;div class=&quot;email&quot;&gt;
    &lt;a href=&quot;mailto:info@canarypromo.com&quot;&gt;info@canarypromo.com&lt;/a&gt;
  &lt;/div&gt;
&lt;/div&gt;
