<ul class="icons inline-list">
	<li class="icon-menu"></li>
	<li class="icon-bubble"></li>
	<li class="icon-search"></li>
	<li class="icon-previous"></li>
	<li class="icon-next"></li>
	<li class="icon-menu-list"></li>
	<li class="icon-mail"></li>
	<li class="icon-rss"></li>
	<li class="icon-play"></li>
	<li class="icon-github"></li>
	<li class="icon-flickr"></li>
	<li class="icon-twitter"></li>
	<li class="icon-facebook"></li>
	<li class="icon-googleplus"></li>
	<li class="icon-pinterest"></li>
	<li class="icon-linkedin"></li>
	<li class="icon-rdio"></li>
	<li class="icon-instagram"></li>
</ul>
