{{&gt; molecules-menu-trigger }}
{{&gt; organisms-header }}

&lt;main id=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;div class=&quot;tabs&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;body-wrapper&quot;&gt;
    {{&gt; molecules-page-title }}
    &lt;div id=&quot;block-system-main&quot; class=&quot;block block-system  block-system-main&quot;&gt;
			{{&gt; molecules-hero-block }}
			{{&gt; organisms-testimonials-trio }}
			{{&gt; organisms-press-release-links-section }}
			{{&gt; molecules-social-share }}
			{{&gt; organisms-blog-teasers }}


    &lt;/div&gt;
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; molecules-primary-nav }}
{{&gt; organisms-footer }}
