&lt;figure class=&quot;file-download--image&quot;&gt;
  &lt;a href=&quot;{{ url }}&quot;&gt;
    {{&gt; atoms-square }}
  &lt;/a&gt;
  &lt;figcaption&gt;
    &lt;div class=&quot;caption&quot;&gt;{{ img.square.caption }}&lt;/div&gt;
    &lt;div class=&quot;credit&quot;&gt;{{ img.square.credit }}&lt;/div&gt;
  &lt;/figcaption&gt;
&lt;/figure&gt;
