&lt;section class=&quot;file-downloads--client _2-even&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;
      &lt;a href=&quot;blog&quot;&gt;Download Images&lt;/a&gt;
    &lt;/h1&gt;
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
&lt;/section&gt;
