&lt;aside class=&quot;see-it&quot;&gt;
  &lt;h2&gt;See it&lt;/h2&gt;
  &lt;p&gt;
    Sept. 12-Dec. 29, 2013
    &lt;br&gt;215-545-0787
    &lt;br&gt;
    &lt;a href=&quot;maps.google.com&quot;&gt;251 S. 18th St., Philadelphia, PA 19103&lt;/a&gt;
  &lt;/p&gt;
&lt;/aside&gt;
