&lt;section class=&quot;media-contact&quot;&gt;
  &lt;h3&gt;Media Contact&lt;/h3&gt;

  &lt;div class=&quot;name&quot;&gt;Carolyn Huckabay&lt;/div&gt;
  &lt;div class=&quot;phone&quot;&gt;
    &lt;label&gt;Phone:&lt;/label&gt;
    215-555-5555
  &lt;/div&gt;
  &lt;div class=&quot;email&quot;&gt;
    &lt;label&gt;email:&lt;/label&gt;
    &lt;a href=&quot;mailto:mason@thecodingdesigner.com&quot;&gt;mason@thecodingdesigner.com&lt;/a&gt;
  &lt;/div&gt;
&lt;/section&gt;
