&lt;section class=&quot;media-contact&quot;&gt;
  &lt;h3&gt;Media Contact&lt;/h3&gt;
  &lt;div class=&quot;name&quot;&gt;{{ name.first }} {{ name.last }}&lt;/div&gt;
  &lt;div class=&quot;phone&quot;&gt;
    &lt;span class=&quot;label&quot;&gt;Phone: &lt;/span&gt;
    {{ phone }}
  &lt;/div&gt;
  &lt;div class=&quot;email&quot;&gt;
    &lt;span class=&quot;label&quot;&gt;email: &lt;/span&gt;
    &lt;a href=&quot;{{ url }}&quot;&gt;{{ email }}&lt;/a&gt;
  &lt;/div&gt;
&lt;/section&gt;
