&lt;a href=&quot;/&quot; class=&quot;logo-site-name&quot;&gt;
  &lt;div class=&quot;logo&quot;&gt;{{&gt; atoms-logo }}&lt;/div&gt;
  &lt;h1 class=&quot;site-name&quot;&gt;{{ title }}&lt;/h1&gt;
&lt;/a&gt;
