&lt;div class=&quot;tabs&quot;&gt;
  &lt;h2 class=&quot;element-invisible&quot;&gt;Primary tabs&lt;/h2&gt;
  &lt;ul class=&quot;tabs primary&quot;&gt;
    &lt;li class=&quot;active&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot; class=&quot;active&quot;&gt;
        View
        &lt;span class=&quot;element-invisible&quot;&gt;(active tab)&lt;/span&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Edit&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Manage display&lt;/a&gt;
    &lt;/li&gt;
    &lt;li&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;Devel&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;
