&lt;section class=&quot;media-placements&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Media Placements&lt;/h1&gt;
  &lt;ul&gt;
    &lt;li class=&quot;placement&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot; class=&quot;linked-image&quot;&gt;{{&gt; atoms-external-logo }}&lt;/a&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;name&quot;&gt;{{ media.one }}&lt;/div&gt;&lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;placement&quot;&gt;
      &lt;a href=&quot;{{ url }}&quot; class=&quot;linked-image&quot;&gt;{{&gt; atoms-external-logo }}&lt;/a&gt;
      &lt;a href=&quot;{{ url }}&quot;&gt;&lt;div class=&quot;name&quot;&gt;{{ media.two }}&lt;/div&gt;&lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/section&gt;
