&lt;section class=&quot;media-placements&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Media Placements&lt;/h1&gt;
  &lt;ul&gt;
    {{#img.logos}}
      &lt;li class=&quot;placement&quot;&gt;
        &lt;a href=&quot;{{ url }}&quot; class=&quot;linked-image&quot;&gt;
          &lt;img src=&quot;{{ logo.src }}&quot; alt=&quot;{{ logo.alt }}&quot; class=&quot;placement-logo&quot; /&gt;
        &lt;/a&gt;
      &lt;/li&gt;
    {{/img.logos}}
  &lt;/ul&gt;
&lt;/section&gt;
