<blockquote>
  <h1>Holy shit Canary is great.</h1>
  <p>
    Quisque ultrices placerat nunc. Quisque nec faucibus diam, et posuere sem. Nunc risus ante, elementum eu nisl in, placerat imperdiet justo. Fusce in ligula vel enim facilisis vehicula sit amet ac tortor.
  </p>
  <footer>Peter Venkman</footer>
</blockquote>
