<div id="canary-vcard" class="vcard">
  <div class="adr">
    <div class="street-address">24 E Glenside Ave, 1st Floor</div>
    <span class="locality">Glenside</span>
    ,
    <span class="region">PA</span>
    ,
    <span class="postal-code">19038</span>
    <span class="country-name">USA</span>
  </div>
  <div class="map">
    <a href="http://maps.google.com/maps?hl=en&amp;q=24+E+Glenside+Ave,+1st+Floor+Glenside+,+PA+,+19038&amp;ie=UTF8&amp;hq=&amp;hnear=24+E+Glenside+Ave,+Glenside,+Montgomery,+Pennsylvania+19038&amp;gl=us&amp;ei=mhHfS92bGISClAfJsNTnBA&amp;ved=0CAkQ8gEwAA&amp;z=16">Google Map</a>
  </div>
  <div class="tel">(215) 690-4065</div>
  <div class="email">
    <a href="mailto:info@canarypromo.com">info@canarypromo.com</a>
  </div>
</div>
