{{&gt; molecules-menu-trigger }}
{{&gt; organisms-header }}

&lt;main id=&quot;main&quot; role=&quot;main&quot;&gt;
  &lt;div class=&quot;tabs&quot;&gt;&lt;/div&gt;
  &lt;div class=&quot;body-wrapper&quot;&gt;
    {{&gt; molecules-page-title }}
    &lt;div id=&quot;block-system-main&quot; class=&quot;block block-system  block-system-main&quot;&gt;
      &lt;article id=&quot;&quot; class=&quot;node node-client clearfix _client&quot; role=&quot;article&quot;&gt;
        &lt;div class=&quot;content&quot;&gt;
          &lt;header&gt;
            {{&gt; molecules-field-subtitle }}
          &lt;/header&gt;
          {{&gt; molecules-hero-image }}
          {{&gt; molecules-intro-text }}
          {{&gt; molecules-testimonial-teaser }}
        &lt;/div&gt;
        &lt;section class=&quot;our-work&quot;&gt;
          &lt;h1 class=&quot;section-title&quot;&gt;Our Work&lt;/h1&gt;
          {{&gt; molecules-body-with-media }}
          &lt;div class=&quot;asides&quot; data-eq-pts=&quot;medium: 450&quot;&gt;
            {{&gt; molecules-case-study-link }}
            {{&gt; molecules-event }}
            {{&gt; molecules-links }}
          &lt;/div&gt;
        &lt;/section&gt;
        &lt;section class=&quot;for-the-media&quot;&gt;
          &lt;h1 class=&quot;section-title&quot;&gt;For the Media&lt;/h1&gt;
          {{&gt; molecules-press-release-links }}
          {{&gt; molecules-media-contact }}
          {{&gt; molecules-download-images }}
        &lt;/section&gt;
        {{&gt; molecules-media-placements }}
      &lt;/article&gt;
  &lt;/div&gt;
&lt;/main&gt;

{{&gt; molecules-primary-nav }}
{{&gt; organisms-footer }}
