&lt;section class=&quot;bird-feed&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Bird Feed&lt;/h1&gt;
  {{&gt; organisms-blog-teaser-medium }}
  {{&gt; organisms-blog-teaser-short }}
  {{&gt; organisms-blog-teaser-medium }}
&lt;/section&gt;
