&lt;section class=&quot;press-releases&quot;&gt;
  &lt;h3&gt;Press Releases&lt;/h3&gt;
  &lt;ul&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/section&gt;
