<nav id="nav" class="nav" role="navigation">
  <h2 class="title block-title element-invisible">Navigation</h2>
  <ul class="menu">
    <li class="first leaf"><a href="{{ url }}" title="">Home</a>
    </li>
    <li class="leaf"><a href="{{ url }}" title="">Our Work</a>
    </li>
    <li class="leaf"><a href="{{ url }}" title="">Services</a>
    </li>
    <li class="leaf"><a href="{{ url }}" title="">Case Studies</a>
    </li>
    <li class="leaf"><a href="{{ url }}" title="">Our Team</a>
    </li>
    <li class="last leaf"><a href="{{ url }}" title="">Contact Us</a>
    </li>
  </ul>
</nav>
<!--end .nav-->
