<div class="tabs">
  <h2 class="element-invisible">Primary tabs</h2>
  <ul class="tabs primary">
    <li class="active">
      <a href="{{ url }}" class="active">
        View
        <span class="element-invisible">(active tab)</span>
      </a>
    </li>
    <li>
      <a href="{{ url }}">Edit</a>
    </li>
    <li>
      <a href="{{ url }}">Manage display</a>
    </li>
    <li>
      <a href="{{ url }}">Devel</a>
    </li>
  </ul>
</div>
