<section class="social-media">
  <h1 class="section-title">Follow Us</h1>
  <ul class="social-media--list">
    <li>
      <div class="social-link">
        <i class="facebook"></i>
        <a href="{{ url }}" title="Facebook">Facebook</a>
      </div>
    </li>
    <li>
      <div class="social-link">
        <i class="twitter"></i>
        <a href="{{ url }}" title="Twitter">Twitter</a>
      </div>
    </li>
    <li>
      <div class="social-link">
        <i class="flickr"></i>
        <a href="{{ url }}" title="Flickr">Flickr</a>
      </div>
    </li>
    <li>
      <div class="social-link">
        <i class="foursquare"></i>
        <a href="{{ url }}" title="Foursquare">Foursquare</a>
      </div>
    </li>
  </ul>
</section>
