&lt;div id=&quot;skip-link&quot;&gt;
  &lt;a href=&quot;#main&quot; class=&quot;menu-trigger icon-canary&quot; role=&quot;link&quot;&gt;{{&gt; atoms-hamburger-menu }} &lt;span class=&quot;menu-label&quot;&gt;menu&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;
