&lt;article class=&quot;feature hero&quot;&gt;
  &lt;figure&gt;
    &lt;a href=&quot;{{ url }}&quot; class=&quot;b-inner&quot;&gt;
      {{&gt; atoms-landscape-16x9 }}
      &lt;figcaption&gt;
        &lt;h1&gt;{{ client.one }}&lt;/h1&gt;
        &lt;p&gt;Philadelphia&rsquo;s premier contemporary arts organization.&lt;/p&gt;
      &lt;/figcaption&gt;
    &lt;/a&gt;
  &lt;/figure&gt;
&lt;/article&gt;
