&lt;!-- Begin .header --&gt;
&lt;header id=&quot;header&quot; role=&quot;banner&quot; class=&quot;site-header&quot;&gt;
	&lt;div class=&quot;site-header-wrapper&quot;&gt;
		{{&gt; molecules-site-header }}
	&lt;/div&gt;
&lt;/header&gt;
&lt;!-- End .header --&gt;
