&lt;p&gt;Primary font: 'Whitney SSm A', 'Whitney SSm B', sans-serif;&lt;/p&gt;
&lt;p&gt;&lt;em&gt;Primary font italic: 'Whitney SSm A', 'Whitney SSm B', sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Primary font bold: 'Whitney SSm A', 'Whitney SSm B', sans-serif;&lt;/strong&gt;&lt;/p&gt;

&lt;p class=&quot;font-smallcaps&quot;&gt;Primary small-caps font: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;&lt;/p&gt;
&lt;p class=&quot;font-smallcaps&quot;&gt;&lt;em&gt;Primary small-caps font italic: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-smallcaps&quot;&gt;&lt;strong&gt;Primary small-caps font bold: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;&lt;/strong&gt;&lt;/p&gt;

&lt;p class=&quot;font-secondary&quot;&gt;Secondary font: 'Archer SSm A', 'Archer SSm B', serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;em&gt;Secondary font italic: 'Archer SSm A', 'Archer SSm B', serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary&quot;&gt;&lt;strong&gt;Secondary font bold; 'Archer SSm A', 'Archer SSm B', serif;&lt;/strong&gt;&lt;/p&gt;

&lt;p class=&quot;font-secondary-smallcaps&quot;&gt;Secondary small-caps font: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;&lt;/p&gt;
&lt;p class=&quot;font-secondary-smallcaps&quot;&gt;&lt;em&gt;Secondary small-caps font italic: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;&lt;/em&gt;&lt;/p&gt;
&lt;p class=&quot;font-secondary-smallcaps&quot;&gt;&lt;strong&gt;Secondary small-caps font bold; 'Archer SSm small caps A', 'Archer SSm small caps B', serif;&lt;/strong&gt;&lt;/p&gt;
