<p>Primary font: 'Whitney SSm A', 'Whitney SSm B', sans-serif;</p>
<p><em>Primary font italic: 'Whitney SSm A', 'Whitney SSm B', sans-serif;</em></p>
<p><strong>Primary font bold: 'Whitney SSm A', 'Whitney SSm B', sans-serif;</strong></p>

<p class="font-smallcaps">Primary small-caps font: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;</p>
<p class="font-smallcaps"><em>Primary small-caps font italic: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;</em></p>
<p class="font-smallcaps"><strong>Primary small-caps font bold: 'Whitney SSm small caps A', 'Whitney SSm small caps B', sans-serif;</strong></p>

<p class="font-secondary">Secondary font: 'Archer SSm A', 'Archer SSm B', serif;</p>
<p class="font-secondary"><em>Secondary font italic: 'Archer SSm A', 'Archer SSm B', serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold; 'Archer SSm A', 'Archer SSm B', serif;</strong></p>

<p class="font-secondary-smallcaps">Secondary small-caps font: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;</p>
<p class="font-secondary-smallcaps"><em>Secondary small-caps font italic: 'Archer SSm small caps A', 'Archer SSm small caps B', serif;</em></p>
<p class="font-secondary-smallcaps"><strong>Secondary small-caps font bold; 'Archer SSm small caps A', 'Archer SSm small caps B', serif;</strong></p>
