&lt;ul class=&quot;icons inline-list&quot;&gt;
	&lt;li class=&quot;icon-menu&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-bubble&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-search&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-previous&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-next&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-menu-list&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-mail&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rss&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-play&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-github&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-flickr&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-twitter&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-facebook&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-googleplus&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-pinterest&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-linkedin&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-rdio&quot;&gt;&lt;/li&gt;
	&lt;li class=&quot;icon-instagram&quot;&gt;&lt;/li&gt;
&lt;/ul&gt;
