{{> molecules-menu-trigger }}
{{> organisms-header }}

<main id="main" role="main">
  <div class="tabs"></div>
  <div class="body-wrapper">
    {{> molecules-page-title }}
    <div id="block-system-main" class="block block-system  block-system-main">
			{{> molecules-hero-block }}
			{{> organisms-testimonials-trio }}
			{{> organisms-press-release-links-section }}
			{{> molecules-social-share }}
			{{> organisms-blog-teasers }}


    </div>
  </div>
</main>

{{> molecules-primary-nav }}
{{> organisms-footer }}
