{{> molecules-menu-trigger }}
{{> organisms-header }}

<main id="main" role="main">
  <div class="tabs"></div>
  <div class="body-wrapper">
    {{> molecules-page-title }}
    <div id="block-system-main" class="block block-system  block-system-main">
      <article id="" class="node node-client clearfix _client" role="article">
        <div class="content">
          <header>
            {{> molecules-field-subtitle }}
          </header>
          {{> molecules-hero-image }}
          {{> molecules-intro-text }}
          {{> molecules-testimonial-teaser }}
        </div>
        <section class="our-work">
          <h1 class="section-title">Our Work</h1>
          {{> molecules-body-with-media }}
          {{> molecules-case-study-link }}
          {{> molecules-event }}
          {{> molecules-links }}
        </section>
        <section class="for-the-media">
          <h1 class="section-title">For the Media</h1>
          {{> molecules-press-release-links }}
          {{> molecules-media-contact }}
          {{> molecules-download-images }}
        </section>
        {{> molecules-media-placements }}
      </article>
  </div>
</main>

{{> molecules-primary-nav }}
