//////////////////////////////
// Heading Component Extendable Classes
//////////////////////////////

$heading-custom-extendables-extended: false !default;

@if not ($heading-custom-extendables-extended) {
  %orange-block {
    @include orange-block(false);
  }

  %orange-block-link {
    @include orange-block-link(false);
  }

  %article-heading {
    @extend %headings-extend;
    @include article-heading(false);
  }
  %article-heading-blue {
    @extend %headings-extend;
    @include article-heading(false);
    color: $blue;
  }

  %heading-to-label {
    @include heading-to-label(false);
  }

  %page-title {
    @extend %h1;
    @include page-title(false);
  }

  %field-subtitle {
    @extend %h3;
    @include field-subtitle(false);
  }
}

$heading-custom-extendables-extended: true;
