&lt;section class=&quot;file-downloads--client&quot; data-eq-pts=&quot;small: 0, medium: 350&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Download Images&lt;/h1&gt;
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
  {{&gt; molecules-downloadable-image }}
&lt;/section&gt;
