<!-- Begin Footer -->
<footer id="footer" role="contentinfo">
  {{> molecules-footer-logo-title }}
  <div id="block-canary-blocks-canary-address" class="block block-canary-blocks  block-canary-blocks-canary-address">
    <section class="address">
      <h1>Our Address</h1>
      {{> molecules-address }}
    </section>
  </div>
  {{> molecules-copyright }}
</footer>
<!-- End Footer -->
