&lt;section class=&quot;press-releases&quot;&gt;
  &lt;h1 class=&quot;section-title&quot;&gt;Press Room&lt;/h1&gt;
  &lt;ul&gt;
    &lt;li&gt;
      {{&gt; atoms-bubble }}
      &lt;div class=&quot;press-title-link&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
      {{&gt; atoms-bubble }}
      &lt;div class=&quot;press-title-link&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
      {{&gt; atoms-bubble }}
      &lt;div class=&quot;press-title-link&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.short }}&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
      {{&gt; atoms-bubble }}
      &lt;div class=&quot;press-title-link&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
    &lt;li&gt;
      {{&gt; atoms-bubble }}
      &lt;div class=&quot;press-title-link&quot;&gt;&lt;a href=&quot;{{ url }}&quot;&gt;{{ headline.medium }}&lt;/a&gt;&lt;/div&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/section&gt;
