&lt;div id=&quot;block-canary-blocks-svg-logo&quot; class=&quot;block block-canary-blocks  block-canary-blocks-svg-logo&quot;&gt;
  {{&gt; molecules-logo-title }}
  {{&gt; molecules-tagline }}
&lt;/div&gt;
