<section class="testimonials">
  <h1 class="section-title">Testimonials</h1>
  {{> molecules-testimonial-teaser }}
  {{> molecules-testimonial-teaser }}
  {{> molecules-testimonial-teaser }}
</section>
