//////////////////////////////
// p Element Mixins
//////////////////////////////

//////////////////////////////
// p Element Default Variables
$p-line-height: $base-line-height !default;
$p-extend:      true !default;
//////////////////////////////

@mixin p-base($line-height: $p-line-height, $extend: $p-extend) {
  @if not ($extend) {
    margin-bottom: em($line-height);
  }
  @else {
    @extend %p-base;
  }
}
