<div id="file-15" class="file file-video file-video-youtube contextual-links-region">
  <h2 class="element-invisible"><a href="/file/6lgbigthl64">6lGbigthl64</a></h2>
  <div class="content">
    <div class="media-youtube-video media-youtube-1">
      <iframe class="media-youtube-player" width="640" height="390" title="6lGbigthl64" src="//www.youtube.com/embed/6lGbigthl64?wmode=opaque" frameborder="0" allowfullscreen="">Video of 6lGbigthl64</iframe>
    </div>
  </div>
</div>
