&lt;div class=&quot;base--STYLED&quot;&gt;
  {{&gt; atoms-landscape-16x9 }}
  {{&gt; atoms-paragraph }}
  {{&gt; atoms-youtube }}
  {{&gt; atoms-paragraph }}
  {{&gt; atoms-landscape-16x9 }}
  {{&gt; atoms-paragraph }}
&lt;/div&gt;
