&lt;div class=&quot;base--STYLED user-generated article--body&quot; data-eq-pts=&quot;medium: 580, large: 750&quot;&gt;
  &lt;div class=&quot;field-image-plus&quot;&gt;
    {{&gt; molecules-fluid-landscape-16x9 }}
    {{&gt; atoms-paragraph }}
  &lt;/div&gt;
  &lt;div class=&quot;field-image-plus&quot;&gt;
    {{&gt; atoms-youtube }}
    {{&gt; atoms-paragraph }}
  &lt;/div&gt;
  &lt;div class=&quot;field-image-plus&quot;&gt;
    {{&gt; molecules-fluid-landscape-4x3 }}
    {{&gt; atoms-paragraph }}
  &lt;/div&gt;
&lt;/div&gt;
