&lt;div class=&quot;base--STYLED user-generated&quot;&gt;
  {{&gt; molecules-fluid-landscape-16x9 }}
  {{&gt; atoms-paragraph }}
  {{&gt; atoms-youtube }}
  {{&gt; atoms-paragraph }}
  {{&gt; molecules-fluid-landscape-4x3 }}
  {{&gt; atoms-paragraph }}
&lt;/div&gt;
